/* Overall styling */
:root {
  /* Store color scheme hex codes in variables for easy use*/
  --black: #121212;
  --light-black: #1a1a1a;
  --dark-grey: #242424;
  --medium-grey: #363636;
  --light-grey: #808080;
  --white: #fff;
  --dark-white: #cccccc;
  --purple: #BB86FC;
  --cyan: #03FAC6;
  --red: #CF6679;
}

html {
  background-color: var(--black);
}

.App {
  color: var(--white);
}

  .App a {
    color: var(--purple);
  }

  .App a:hover {
    color: var(--cyan);
  }
  
  .App h1 {
    font-size: 2rem;
  }

  .App h2 {
    color: var(--purple);
  }

  .App h3 a {
    color: var(--purple);
  }

  /* Styling for Login.js component */
  .App .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .App .email-input, .password-input {
    width: 25vw
  } 

/* Styling for header */
.App-header {
  background: var(--dark-grey);
  color: var(--white);
  font-size: calc(10px + 1vmin);
  padding: 15px;
  position: fixed;
  top: 0;
  width: 97vw;
  min-height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1far;
  grid-template-areas: "nav . user";
  z-index: 10;
}

  .App-header a {
    color: var(--purple);
    font-weight: normal;
  }

  .App-header a:hover {
    color: var(--cyan);
  }

  .App-header ul {    
    padding: 0;
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .App-header li {
    list-style: none;
    padding: 1rem;
    font-weight: bold;
  }

  .App-header li:first-child {
    padding-left: 0; 
  }

  .App-header div {
    grid-area: user;
    display: flex;
    justify-content: flex-end;
    color: var(--light-grey);
  }

  /* Styling for flash messages */
  .App-message { 
    display: block;
    position: absolute;
    background-color: var(--cyan); 
    color: var(--black);
    padding: 2rem 1rem;
    z-index: 100 !important;
    width: 100vw;
    text-align: center;
  }

  .App-message.deleted {
    background: var(--red);
  }

  /* Styling for Posts.js component */
  .App article {
    position: relative;
    top: 15vh;
  }

  .App article ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0;
    padding: 0;
  }

  .App article ul li {
    list-style: none;
    border: solid var(--dark-grey);
    border-radius: 6px;
    margin: 10px;
    padding: 5px 5px 5px 15px;
    align-content: center;
    background: var(--dark-grey);
  }

  .App article ul li.logged-in {
    background-color: var(--medium-grey);
  }

  .App article ul li p.not-author-preview {
    font-size: 0.8em;
    margin-left: 3em;
    margin-right: 3em;
    padding: 1em;
    color: var(--light-grey);
    background-color: var(--light-black);
    border-radius: 4px;
  }
  
  .App article ul a.see-more {
    font-size: 2em;
    text-decoration: none;
  }

  .App article ul li p.author-preview {
    font-size: 0.8em;
    margin-left: 3em;
    margin-right: 3em;
    padding: 1em;
    color: var(--dark-white);
    background-color: var(--dark-grey);
    border-radius: 4px;
  }

  .App article h3 {
    font-size: calc(14px + 2vmin);
  }

  .App-link {
    color: var(--purple);
  }

  .App-link:hover {
    color: var(--cyan);
  }

/* Styling for PostForm.js component */
 .App form {
  padding: 7rem;
}

  .App form input {
    border: 1px solid var(--white);
    border-radius: 6px;
    padding: .3rem;
    background-color: var(--dark-grey) !important;
    color: var(--white);
  }  

  .App form label {
    display: block;
    padding: .5rem 0;
  }

  .App form input#form-title {
    min-width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
    background-color: var(--dark-grey) !important;
  }

  .App form .ql-editor {
    min-height: 4rem;
    border-radius: 6px !important;
    background-color: var(--dark-grey)
  }

  .ql-toolbar .ql-stroke {
    fill: none;
    stroke: var(--white);
  }

  .ql-toolbar .ql-fill {
    fill: var(--white);
    stroke: none;
  }

  .ql-toolbar .ql-picker {
    color: var(--white);
  }
  
  .App form button[type="submit"] {
    border: 1px var(--black) solid;
    border-radius: 6px;
    background: var(--purple);
    color: var(--black);
    font-size: 1rem;
    padding: .5rem 1rem;
  }

  .App form button[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--cyan);
  }

  .App form a {
    border: 1px var(--black) solid;
    border-radius: 6px;
    background: var(--purple);
    color: var(--black);
    text-decoration: none;
    font-size: 1rem;
    padding: .5rem 1rem;
    margin-left: 20px;
  }
  .App form a:hover {
    cursor: pointer;
    color: var(--black);
    background-color: var(--red);
  }

/* Button styling */
.App button.linkLike {
  border: none;
  font-size: inherit;
  color: var(--purple);
  background: none;
  text-decoration: underline;  
}

.App button.linkLike:hover {
    cursor: pointer;
    color: var(--cyan);
}

.App p.share-msg {
  color: var(--light-grey);
}

/* Styling for social media buttons */
.react-sharing-button__link {
  display: inline-block;
  text-decoration: none;
  color: var(--black);
  background-color: var(--purple);
  margin: 0.5em;
  border: solid var(--black) 1.7px;
  border-radius: 5px;
  transition: 50ms ease-out;
  padding: 0.5em 0.75em;
  line-height: 1.2em;
}

.react-sharing-button__icon {
  stroke-width: 0;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  vertical-align: bottom;
}

.react-sharing-button__text {
  padding-left: 0.4em;
  line-height: 1.2em;
  color: var(--black);
}

.react-sharing-button--email {
  background-color: var(--purple);
}

.react-sharing-button--email:hover {
  background-color: var(--cyan);
}

.react-sharing-button--facebook {
  background-color: var(--purple);
}

.react-sharing-button--facebook:hover {
  background-color: var(--cyan);
}

.react-sharing-button--pinterest {
  background-color: var(--purple);
}

.react-sharing-button--pinterest:hover {
  background-color: var(--cyan);
}

.react-sharing-button--reddit {
  background-color: var(--purple);
}

.react-sharing-button--reddit:hover {
  background-color: var(--cyan);
}

.react-sharing-button--twitter {
  background-color: var(--purple);
}

.react-sharing-button--twitter:hover {
  background-color: var(--cyan);
}
